.objects-type{
    width: 100pt;
    height: 100pt;
    background: rgb(181, 183, 187);
    display: block;
    margin: 10pt;
    float: left;
}
.objects-type:hover{
    background: green;
    cursor: pointer;
    -webkit-transform: scale(1.1); /* Для Safari и Chrome */
    -moz-transform: scale(1.1); /* Для Firefox */
    -o-transform: scale(1.1); /* Для Opera */
    -ms-transform: scale(1.1); /* Для IE */
    transform: scale(1.1); /* CSS3 */

}
h3{
    text-align:center;
}